<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title >学生信息select</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<style>
				.search {
								margin: 10px;
				}
</style>

<body>
<div th:replace="~{fragments/header::header}">selectheader</div>
<h3 th:text="${studentModel.title}"></h3>
<!--<div>-->
<!--    <a th:href="@{/users/form}">创建学生</a>-->
<!--</div>-->

<div class="search">
				sid:<input type="text" name="search" id="sid">
				<button id="getId">search</button>
</div>

<table border="1">
    <thead>
    <tr>
        <td>ID</td>
        <td>姓名</td>
        <td>性别</td>
        <td>课程</td>
        <td>成绩</td>
        <td>delete</td>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${studentModel.studentList.size()} eq 0">
        <td colspan="5">没有学生信息！</td>
    </tr>
    <tr th:each="student:${studentModel.studentList}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.sex}"></td>
        <td th:text="${student.courseName}"></td>
        <td th:text="${student.score}"></td>
        <td><button th:name="${student.id}" class="del_class">del</button></td>
    </tr>

<!--     <button class="btn-primary">按钮</button> -->
    </tbody>
</table>

<div th:replace="~{fragments/footer::footer}">selectfooter</div>
</body>

<script>				
$(document).ready(function() {
				
				$("#getId").click(function(e) {
								let sid = $("#sid").val();
								searchStudent(sid);
				});
						
				$('.del_class').on('click',function(e){
				    let target = $(e.target);
				    let sid = target.attr("name");
								console.log(sid);
								searchStudent(sid);
				});
										
				function searchStudent(sid) {
								let url = "/students/search?sid=" + sid;
								console.log(url);								
				    
				    $.ajax({
				        url: url,
				        type: 'get',
				        // data: {sid: sid},
				        dataType: 'json',
				        success: function (xhr, status) {
					       				console.log(xhr);
					       				alert(JSON.stringify(xhr));
				        },
				    				error: function(xhr, status) {
				    								console.log("数据: " + xhr + "\n状态: " + status);
								       	alert("no data");
				        }
				    });
				}
				
	
});
				

				
				
</script>
</html>